@import "./../../../assets/scss/config";

$space:10px;
$text-padding:20px;
$font-size:16px;
$line-height:25px;
$bg-normal:#333333;
$bg-inverse:#ffffff;


.alert-container{
  @include full;
  position: fixed;
  z-index: 999999;
  .alert-bg{
    @include full;
    background-color: rgba(0,0,0,$global-mask-opacity);
  }
  .alert-box{
    @include full;
    pointer-events:none;
    padding: $space;
  }
  .alert-content{
    pointer-events:auto;
    background-color: rgba(0,0,0,0.9);
    background-color: #333;
    @include border-radius(5px);
    @include box-shadow(#000000,0.6,5px);
    min-width: 400px;
    min-height: 200px;
    max-width: 500px;
    max-height: 300px;
    flex-direction:column;
    .title,.body,.foot{
      width: 100%;
    }
    .title{
      height: 40px;
      background-color: #eee;
    }
    .body{
      overflow: auto;
      flex:1;
      line-height:$line-height;
    }
    .foot{
      height: 50px;
      background-color: #eee;
    }
    .alert-text{
      display: inline-block;
      font-size: $font-size;
      padding: $text-padding;
      p{
        text-indent: 2em;
      }
    }
    //默认主题
    &.theme-normal{
      background-color: #333333;
      color: #ffffff;
      @include box-shadow(#000000,0.5,5px);
    }
    //反转主题
    &.theme-inverse{
      background-color: #ffffff;
      color: #333333;
    }
    //错误主题
    &.theme-error{
      background: #f9dada;
      color: #a94442;
    }
    //提示主题
    &.theme-tip{
      background: #ffffff;
      color: #666666;
    }
    //成功主题
    &.theme-success{
      background: #dff0d8;
      color: #3c7668;
      @include box-shadow(#3c7668,0.2,5px);
    }
  }
}
