<!--
alert-container:满屏 fixed布局 pointer-events:none;
alert-box:满屏 flex布局 pointer-events:none;
alert-content:内容容器 可伸缩变化(默认250像素宽,60像素高) pointer-events:auto;
alert-text:inline-block,用于显示文字
-->
<div class='alert-container' [ngClass]="{none:!isShow&&isAnimationEnd}" [@container]="animationState"
     (@container.start)="animationStarted($event)"
     (@container.done)="animationDone($event)">
  <div class="alert-bg" [@bg]="animationState"></div>
  <div class="alert-box flex" [ngClass]="getPositionClass()">
    <div [@content]="animationState">
      <div class="alert-content flex" [ngClass]="getMainTheme()" [ngStyle]="getContentStyle()">
        <div class="alert-header">
          <span class="emphasize" [innerHTML]="title||defaultTitle"></span>
          <button class="btn-close" (click)="hide()">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </div>
        <div class="alert-body thin-scroll flex" [ngClass]="getContentClass()">
          <div class="alert-text" [innerHTML]="getText()"></div>
        </div>
        <div class="alert-footer" [ngClass]="getButtonAlign()">
          <button class="btn btn-sm btn-primary" (click)="okFn()" [innerHTML]="okText"></button>
          <button class="btn btn-sm btn-default" [ngClass]="{none:!showCancelButton}" (click)="cancelFn()" [innerHTML]="cancelText"></button>
        </div>
      </div>
    </div>
  </div>
</div>
