@import "./../../../assets/scss/config";

$space:10px;
$text-padding:20px;
$font-size:16px;
$line-height:25px;
$bg-normal:#333333;
$bg-inverse:#ffffff;
$close-color: #666666;

.alert-container{
  @include full;
  position: fixed;
  z-index: 100000;
  .alert-bg{
    @include full;
    background-color: rgba(0,0,0,$global-mask-opacity);
  }
  .alert-box{
    @include full;
    pointer-events:none;
    padding: $space;
  }
  .alert-content{
    pointer-events:auto;
    background-color: rgba(0,0,0,0.9);
    background-color: #333;
    @include border-radius(5px);
    @include box-shadow(#000000,0.6,5px);
    min-width: 400px;
    min-height: 200px;
    max-width: 450px;
    max-height: 300px;
    flex-direction:column;
    .alert-header,.alert-body,.alert-footer{
      width: 100%;
    }
    .alert-header{
      //background-color: #eee;
      position: relative;
      height: 40px;
      line-height: 40px;
      padding: 0 40px 0 20px;
      font-size: 14px;
      border-bottom: 1px solid #eee;
      color: #333;
      @include singleLine;
      .btn-close{
        position: absolute;
        right: 0px;
        width: 40px;
        //top: 10px;
        margin: 0;
        font-weight: normal;
        background: transparent;
        box-shadow: none;
        border: none;
        outline: none;
        color: $close-color;
        &:hover{
          color: lighten($close-color,5%);
        }
        &:active{
          color: lighten($close-color,15%);
        }
      }
    }
    .alert-body{
      overflow: auto;
      flex:1;
      line-height:$line-height;
    }
    .alert-footer{
      border-top: 1px solid #eee;
      height: 56px;
      line-height: 55px;
      padding: 0 15px;
      text-align: center;
      .btn{
        min-width: 80px;
        &:nth-child(n+2):not(.none){
          margin-left: 20px;
        }
      }
    }
    .alert-text{
      display: inline-block;
      font-size: $font-size;
      padding: $text-padding;
      p{
        text-indent: 2em;
      }
    }
    //默认主题
    &.theme-normal{
      background-color: #333333;
      color: #ffffff;
      @include box-shadow(#000000,0.5,5px);
    }
    //反转主题
    &.theme-inverse{
      background-color: #ffffff;
      color: #333333;
    }
    //错误主题
    &.theme-error{
      background: #f9dada;
      color: #a94442;
    }
    //提示主题
    &.theme-tip{
      background: #ffffff;
      color: #666666;
    }
    //成功主题
    &.theme-success{
      background: #dff0d8;
      color: #3c7668;
      @include box-shadow(#3c7668,0.2,5px);
    }
  }
}
