<!--
alert-container:满屏 fixed布局 pointer-events:none;
alert-box:满屏 flex布局 pointer-events:none;
alert-content:内容容器 可伸缩变化(默认250像素宽,60像素高) pointer-events:auto;
alert-text:inline-block,用于显示文字
-->
<div class='alert-container' [ngClass]="{none:!isShow&&isAnimationEnd}" [@InOut]="animationState"
     (@InOut.start)="animationStarted($event)"
     (@InOut.done)="animationDone($event)">
  <div class="alert-bg"></div>
  <div class="alert-box flex" [ngClass]="getPositionClass()">
    <div class="alert-content thin-scroll flex" [ngClass]="getMainTheme()" [ngStyle]="getContentStyle()">
      <div class="title"></div>
      <div class="body flex" [ngClass]="getContentClass()">
        <div class="alert-text" [innerHTML]="getText()"></div>
      </div>
      <div class="foot"></div>
    </div>
  </div>
</div>
