<div style="text-align:center">
  <!--<component-spinner name="small" color="#ff00ff"></component-spinner>-->
  <!--<component-loading spinner="small" theme="normal" layout="normal" color="#ffffff" bgColor="" mask="" maskColor="rgba(0,0,0,0.3)" text="正在加载中,请稍候..."></component-loading>-->
  <!--<component-loading isShow="false"></component-loading>-->

  <!--<button>测试</button>-->
</div>
<div>二、移动translate

  移动translate我们分为三种情况：translate(x,y)水平方向和垂直方向同时移动（也就是X轴和Y轴同时移动）；translateX(x)仅水平方向移动（X轴移动）；translateY(Y)仅垂直方向移动（Y轴移动），具体使用方法如下：

  1、translate() ：通过矢量[tx, ty]指定一个2D translation，tx 是第一个过渡值参数，ty 是第二个过渡值参数选项。如果 未被提供，则ty以 0 作为其值。也就是translate(x,y),它表示对象进行平移，按照设定的x,y参数值,当值为负数时，反方向移动物体，其基点默认为元素 中心点，也可以根据transform-origin进行改变基点。如transform:translate(100px,20px):

  著作权归作者所有。
  商业转载请联系作者获得授权,非商业转载请注明出处。
  原文: http://www.w3cplus.com/content/css3-transform © w3cplus.com
  二、移动translate

  移动translate我们分为三种情况：translate(x,y)水平方向和垂直方向同时移动（也就是X轴和Y轴同时移动）；translateX(x)仅水平方向移动（X轴移动）；translateY(Y)仅垂直方向移动（Y轴移动），具体使用方法如下：

  1、translate() ：通过矢量[tx, ty]指定一个2D translation，tx 是第一个过渡值参数，ty 是第二个过渡值参数选项。如果 未被提供，则ty以 0 作为其值。也就是translate(x,y),它表示对象进行平移，按照设定的x,y参数值,当值为负数时，反方向移动物体，其基点默认为元素 中心点，也可以根据transform-origin进行改变基点。如transform:translate(100px,20px):

  著作权归作者所有。
  商业转载请联系作者获得授权,非商业转载请注明出处。
  原文: http://www.w3cplus.com/content/css3-transform © w3cplus.com
  二、移动translate

  移动translate我们分为三种情况：translate(x,y)水平方向和垂直方向同时移动（也就是X轴和Y轴同时移动）；translateX(x)仅水平方向移动（X轴移动）；translateY(Y)仅垂直方向移动（Y轴移动），具体使用方法如下：

  1、translate() ：通过矢量[tx, ty]指定一个2D translation，tx 是第一个过渡值参数，ty 是第二个过渡值参数选项。如果 未被提供，则ty以 0 作为其值。也就是translate(x,y),它表示对象进行平移，按照设定的x,y参数值,当值为负数时，反方向移动物体，其基点默认为元素 中心点，也可以根据transform-origin进行改变基点。如transform:translate(100px,20px):

  著作权归作者所有。
  商业转载请联系作者获得授权,非商业转载请注明出处。
  原文: http://www.w3cplus.com/content/css3-transform © w3cplus.com
  二、移动translate

  移动translate我们分为三种情况：translate(x,y)水平方向和垂直方向同时移动（也就是X轴和Y轴同时移动）；translateX(x)仅水平方向移动（X轴移动）；translateY(Y)仅垂直方向移动（Y轴移动），具体使用方法如下：

  1、translate() ：通过矢量[tx, ty]指定一个2D translation，tx 是第一个过渡值参数，ty 是第二个过渡值参数选项。如果 未被提供，则ty以 0 作为其值。也就是translate(x,y),它表示对象进行平移，按照设定的x,y参数值,当值为负数时，反方向移动物体，其基点默认为元素 中心点，也可以根据transform-origin进行改变基点。如transform:translate(100px,20px):

  著作权归作者所有。
  商业转载请联系作者获得授权,非商业转载请注明出处。
  原文: http://www.w3cplus.com/content/css3-transform © w3cplus.com
  二、移动translate

  移动translate我们分为三种情况：translate(x,y)水平方向和垂直方向同时移动（也就是X轴和Y轴同时移动）；translateX(x)仅水平方向移动（X轴移动）；translateY(Y)仅垂直方向移动（Y轴移动），具体使用方法如下：

  1、translate() ：通过矢量[tx, ty]指定一个2D translation，tx 是第一个过渡值参数，ty 是第二个过渡值参数选项。如果 未被提供，则ty以 0 作为其值。也就是translate(x,y),它表示对象进行平移，按照设定的x,y参数值,当值为负数时，反方向移动物体，其基点默认为元素 中心点，也可以根据transform-origin进行改变基点。如transform:translate(100px,20px):

  著作权归作者所有。
  商业转载请联系作者获得授权,非商业转载请注明出处。
  原文: http://www.w3cplus.com/content/css3-transform © w3cplus.com
  二、移动translate

  移动translate我们分为三种情况：translate(x,y)水平方向和垂直方向同时移动（也就是X轴和Y轴同时移动）；translateX(x)仅水平方向移动（X轴移动）；translateY(Y)仅垂直方向移动（Y轴移动），具体使用方法如下：

  1、translate() ：通过矢量[tx, ty]指定一个2D translation，tx 是第一个过渡值参数，ty 是第二个过渡值参数选项。如果 未被提供，则ty以 0 作为其值。也就是translate(x,y),它表示对象进行平移，按照设定的x,y参数值,当值为负数时，反方向移动物体，其基点默认为元素 中心点，也可以根据transform-origin进行改变基点。如transform:translate(100px,20px):

  著作权归作者所有。
  商业转载请联系作者获得授权,非商业转载请注明出处。
  原文: http://www.w3cplus.com/content/css3-transform © w3cplus.com
  二、移动translate

  移动translate我们分为三种情况：translate(x,y)水平方向和垂直方向同时移动（也就是X轴和Y轴同时移动）；translateX(x)仅水平方向移动（X轴移动）；translateY(Y)仅垂直方向移动（Y轴移动），具体使用方法如下：

  1、translate() ：通过矢量[tx, ty]指定一个2D translation，tx 是第一个过渡值参数，ty 是第二个过渡值参数选项。如果 未被提供，则ty以 0 作为其值。也就是translate(x,y),它表示对象进行平移，按照设定的x,y参数值,当值为负数时，反方向移动物体，其基点默认为元素 中心点，也可以根据transform-origin进行改变基点。如transform:translate(100px,20px):

  著作权归作者所有。
  商业转载请联系作者获得授权,非商业转载请注明出处。
  原文: http://www.w3cplus.com/content/css3-transform © w3cplus.com
  二、移动translate

  移动translate我们分为三种情况：translate(x,y)水平方向和垂直方向同时移动（也就是X轴和Y轴同时移动）；translateX(x)仅水平方向移动（X轴移动）；translateY(Y)仅垂直方向移动（Y轴移动），具体使用方法如下：

  1、translate() ：通过矢量[tx, ty]指定一个2D translation，tx 是第一个过渡值参数，ty 是第二个过渡值参数选项。如果 未被提供，则ty以 0 作为其值。也就是translate(x,y),它表示对象进行平移，按照设定的x,y参数值,当值为负数时，反方向移动物体，其基点默认为元素 中心点，也可以根据transform-origin进行改变基点。如transform:translate(100px,20px):

  著作权归作者所有。
  商业转载请联系作者获得授权,非商业转载请注明出处。
  原文: http://www.w3cplus.com/content/css3-transform © w3cplus.com
  二、移动translate

  移动translate我们分为三种情况：translate(x,y)水平方向和垂直方向同时移动（也就是X轴和Y轴同时移动）；translateX(x)仅水平方向移动（X轴移动）；translateY(Y)仅垂直方向移动（Y轴移动），具体使用方法如下：

  1、translate() ：通过矢量[tx, ty]指定一个2D translation，tx 是第一个过渡值参数，ty 是第二个过渡值参数选项。如果 未被提供，则ty以 0 作为其值。也就是translate(x,y),它表示对象进行平移，按照设定的x,y参数值,当值为负数时，反方向移动物体，其基点默认为元素 中心点，也可以根据transform-origin进行改变基点。如transform:translate(100px,20px):

  著作权归作者所有。
  商业转载请联系作者获得授权,非商业转载请注明出处。
  原文: http://www.w3cplus.com/content/css3-transform © w3cplus.com
  二、移动translate

  移动translate我们分为三种情况：translate(x,y)水平方向和垂直方向同时移动（也就是X轴和Y轴同时移动）；translateX(x)仅水平方向移动（X轴移动）；translateY(Y)仅垂直方向移动（Y轴移动），具体使用方法如下：

  1、translate() ：通过矢量[tx, ty]指定一个2D translation，tx 是第一个过渡值参数，ty 是第二个过渡值参数选项。如果 未被提供，则ty以 0 作为其值。也就是translate(x,y),它表示对象进行平移，按照设定的x,y参数值,当值为负数时，反方向移动物体，其基点默认为元素 中心点，也可以根据transform-origin进行改变基点。如transform:translate(100px,20px):

  著作权归作者所有。
  商业转载请联系作者获得授权,非商业转载请注明出处。
  原文: http://www.w3cplus.com/content/css3-transform © w3cplus.com
  二、移动translate

  移动translate我们分为三种情况：translate(x,y)水平方向和垂直方向同时移动（也就是X轴和Y轴同时移动）；translateX(x)仅水平方向移动（X轴移动）；translateY(Y)仅垂直方向移动（Y轴移动），具体使用方法如下：

  1、translate() ：通过矢量[tx, ty]指定一个2D translation，tx 是第一个过渡值参数，ty 是第二个过渡值参数选项。如果 未被提供，则ty以 0 作为其值。也就是translate(x,y),它表示对象进行平移，按照设定的x,y参数值,当值为负数时，反方向移动物体，其基点默认为元素 中心点，也可以根据transform-origin进行改变基点。如transform:translate(100px,20px):

  著作权归作者所有。
  商业转载请联系作者获得授权,非商业转载请注明出处。
  原文: http://www.w3cplus.com/content/css3-transform © w3cplus.com
  二、移动translate

  移动translate我们分为三种情况：translate(x,y)水平方向和垂直方向同时移动（也就是X轴和Y轴同时移动）；translateX(x)仅水平方向移动（X轴移动）；translateY(Y)仅垂直方向移动（Y轴移动），具体使用方法如下：

  1、translate() ：通过矢量[tx, ty]指定一个2D translation，tx 是第一个过渡值参数，ty 是第二个过渡值参数选项。如果 未被提供，则ty以 0 作为其值。也就是translate(x,y),它表示对象进行平移，按照设定的x,y参数值,当值为负数时，反方向移动物体，其基点默认为元素 中心点，也可以根据transform-origin进行改变基点。如transform:translate(100px,20px):

  著作权归作者所有。
  商业转载请联系作者获得授权,非商业转载请注明出处。
  原文: http://www.w3cplus.com/content/css3-transform © w3cplus.com
  二、移动translate

  移动translate我们分为三种情况：translate(x,y)水平方向和垂直方向同时移动（也就是X轴和Y轴同时移动）；translateX(x)仅水平方向移动（X轴移动）；translateY(Y)仅垂直方向移动（Y轴移动），具体使用方法如下：

  1、translate() ：通过矢量[tx, ty]指定一个2D translation，tx 是第一个过渡值参数，ty 是第二个过渡值参数选项。如果 未被提供，则ty以 0 作为其值。也就是translate(x,y),它表示对象进行平移，按照设定的x,y参数值,当值为负数时，反方向移动物体，其基点默认为元素 中心点，也可以根据transform-origin进行改变基点。如transform:translate(100px,20px):

  著作权归作者所有。
  商业转载请联系作者获得授权,非商业转载请注明出处。
  原文: http://www.w3cplus.com/content/css3-transform © w3cplus.com
  二、移动translate

  移动translate我们分为三种情况：translate(x,y)水平方向和垂直方向同时移动（也就是X轴和Y轴同时移动）；translateX(x)仅水平方向移动（X轴移动）；translateY(Y)仅垂直方向移动（Y轴移动），具体使用方法如下：

  1、translate() ：通过矢量[tx, ty]指定一个2D translation，tx 是第一个过渡值参数，ty 是第二个过渡值参数选项。如果 未被提供，则ty以 0 作为其值。也就是translate(x,y),它表示对象进行平移，按照设定的x,y参数值,当值为负数时，反方向移动物体，其基点默认为元素 中心点，也可以根据transform-origin进行改变基点。如transform:translate(100px,20px):

  著作权归作者所有。
  商业转载请联系作者获得授权,非商业转载请注明出处。
  原文: http://www.w3cplus.com/content/css3-transform © w3cplus.com
  二、移动translate

  移动translate我们分为三种情况：translate(x,y)水平方向和垂直方向同时移动（也就是X轴和Y轴同时移动）；translateX(x)仅水平方向移动（X轴移动）；translateY(Y)仅垂直方向移动（Y轴移动），具体使用方法如下：

  1、translate() ：通过矢量[tx, ty]指定一个2D translation，tx 是第一个过渡值参数，ty 是第二个过渡值参数选项。如果 未被提供，则ty以 0 作为其值。也就是translate(x,y),它表示对象进行平移，按照设定的x,y参数值,当值为负数时，反方向移动物体，其基点默认为元素 中心点，也可以根据transform-origin进行改变基点。如transform:translate(100px,20px):

  著作权归作者所有。
  商业转载请联系作者获得授权,非商业转载请注明出处。
  原文: http://www.w3cplus.com/content/css3-transform © w3cplus.com
  二、移动translate

  移动translate我们分为三种情况：translate(x,y)水平方向和垂直方向同时移动（也就是X轴和Y轴同时移动）；translateX(x)仅水平方向移动（X轴移动）；translateY(Y)仅垂直方向移动（Y轴移动），具体使用方法如下：

  1、translate() ：通过矢量[tx, ty]指定一个2D translation，tx 是第一个过渡值参数，ty 是第二个过渡值参数选项。如果 未被提供，则ty以 0 作为其值。也就是translate(x,y),它表示对象进行平移，按照设定的x,y参数值,当值为负数时，反方向移动物体，其基点默认为元素 中心点，也可以根据transform-origin进行改变基点。如transform:translate(100px,20px):

  著作权归作者所有。
  商业转载请联系作者获得授权,非商业转载请注明出处。
  原文: http://www.w3cplus.com/content/css3-transform © w3cplus.com
</div>

<!--<component-toast text="正在加载中,请稍候..." position="17"></component-toast>-->
<component-toast text="正在加载中,请稍候..." isShow="true"></component-toast>
<!--<component-toast text="商业转载请联系作者获得授权,非商业转载请注明出处商业转载请联系作者获得授非商业转载请注明出处商业转载请联系作者获得授权非商业转载请注明出处商业转载请联系作者获得授权非商业转载请注明出处商业转载请联系作者获得授权权非商业转载请注明出处商业转载请联系作者获得授权非商业转载请注明出处商业转载请联系作者获得授权,非商业转载请注明出处商业转载请联系作者获得授权,非商业转载请注明出处商业转载请联系作者获得授权,非商业转载请注明出处商业转载请联系作者获得授权,非商业转载请注明出处商业转载请联系作者获得授权,非商业转载请注明出处"></component-toast>-->

<router-outlet></router-outlet>
